@import "ButtonColors";

@mixin text($color) {
  background-color: $color;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-color: darken($color, 10%);
  border-right-color: darken($color, 10%);
  border-bottom-color: darken($color, 10%);
  border-top-color: darken($color, 10%);
}

@mixin icon($color) {
  border-right-width: 1px;
  border-right-color: darken($color, 10%);
  background-color: lighten($color, 4%);
}

.buttonsWrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttonWrapper {
  height: 32px;
  margin-bottom: 12px;
  margin-right: 20px;
}

@mixin button-base() {
  padding-right: 18px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 136px;
  height: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.innerWrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-direction: row;
}

.buttonText {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  padding-left: 10px;
  height: 32px;
}

@mixin icon-base() {
  height: 30px;
  width: 32px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
}

.iconText {
  font-size: 16px;
  color: #fff;
}

@each $color in $colors-map {
  .button#{nth($color, 1)} {
    @include button-base;
    @include text(nth($color, 2));
  }
  .icon#{nth($color, 1)} {
    @include icon-base;
    @include icon(nth($color, 2));
  }
}
