.profileOuter {
  width: 275px;
  height: 363px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profileWrapper {
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.125);
  border-right-color: rgba(0, 0, 0, 0.125);
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-top-color: rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  width: 275px;
  height: 363px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.body {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
}

.backgroundImg {
  width: 275px;
  height: 150px;
}

.profileImg {
  width: 100px;
  height: 100px;
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-width: 3px;
  border-color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

.nameWrapper {
  margin-bottom: 5px;
}

.name {
  font-size: 1rem;
  font-weight: 700;
  color: #212529;
  text-align: center;
}

.descriptionWrapper {
  margin-bottom: 1.5rem;
}

.description {
  text-align: center;
  color: #212529;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.statsLeft {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  border-right-color: #d4dbe0;
  border-right-width: 1px;
  height: 38px;
}

.statsRight {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  height: 38px;
}

.statsText {
  text-align: center;
  color: #212529;
}

.statsTextBold {
  font-weight: bold;
}
